@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-pt-24;
	}
	body {
		font-size: 14px;
		color: #4f4f4f;
		@apply leading-6;
		@apply antialiased;
		@apply pt-0;
		@apply md:pt-[102px];
	}

	a {
		color: #4a84b2;
	}

	input.form-input, textarea.form-input {
		@apply w-full;
		@apply mt-1;
		@apply block;
		@apply rounded-md;
		@apply border-gray-200;
		@apply shadow-sm;
		@apply focus:border-indigo-300;
		@apply focus:ring;
		@apply focus:ring-indigo-200;
		@apply focus:ring-opacity-50;
		@apply text-sm;
		@apply font-normal;
	}

	input.basic-input, textarea.basic-input {
		@apply w-full;
		@apply mt-1;
		@apply block;
		@apply rounded-md;
		@apply border-gray-200;
		@apply focus:border-indigo-200;
		@apply shadow-sm;
		@apply text-sm;
		@apply font-normal;
		box-shadow: none !important;
	}

	.form-input.input-error {
		border-color: #e90000ad;
	}
}

.formatted p {
	@apply mb-4;
}

.formatted h3 {
	@apply mb-1.5;
	@apply text-lg;
	@apply font-bold;
}

.formatted cite {
	font-size: 0.75em;
	@apply not-italic;
	@apply -mt-4;
	@apply block;
}

.formatted p {
	break-inside: avoid;
}

.formatted h3 {
	break-after: avoid;
}

.formatted br + cite {
	@apply mt-0;
}

svg.icon {
	width: 1em;
	height: 1em;		
	@apply fill-current;
	@apply inline;
}

.bg-puffin {
	background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)), url("/puffin.jpg");
	@apply bg-cover;
}

.header-gradient {
	background-image: linear-gradient(90deg,var(--color) 69%, transparent 100%);
}

.breadcrumb-gradient {
	background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 69%, transparent 100%);
}

.tox-notification {
	display: none !important; /* hide "This domain is not registered with Tiny Cloud" notice */
}

.tox-statusbar {
	display: none !important;
}

.tox-tinymce {
	@apply border-gray-200 !important;
	@apply shadow-sm !important;
	border-width: 1px !important;
}

.uppy-DragDrop-container {
	@apply border-gray-300/90 !important;
}

/*react-image-gallery overides*/
.image-gallery.fullscreen-modal {
	@apply z-10 !important;
}

.image-gallery-thumbnail {
	width: 70px !important;
	@apply border-0 !important;
	@apply opacity-50;
	@apply transition-opacity;
}

.image-gallery-thumbnail.active {
	@apply opacity-100;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
	width: 70px !important;
	height: 55px;
	@apply object-cover;
}

.image-gallery.fullscreen-modal .image-gallery-thumbnails-wrapper {
	max-width: 500px;
	@apply mx-auto;
}

.image-gallery-description {
	left: 10% !important;
	right: 10% !important;
	bottom: 8% !important;
	line-height: 1.3;
}

.image-gallery.fullscreen-modal .image-gallery-description {
	left: 20% !important;
	right: 20% !important;
	bottom: 8% !important;
	line-height: 1.3;
}

.image-gallery-icon {
	@apply opacity-50;
	@apply cursor-pointer;
}

.image-gallery-icon:hover {
	@apply text-white !important;
	@apply opacity-100;
}

.image-gallery:not(.fullscreen-modal) .image-gallery-svg {
	width: 30px;
	height: 60px;
}

.image-gallery:not(.fullscreen-modal) .image-gallery-image {
	@apply h-[200px];
	@apply sm:h-[400px];
}

.image-gallery-slide, .image-gallery-image {
	@apply outline-none;
}

/*Mapbox*/
.mapboxAddMarkerMode .mapboxgl-canvas-container {
	@apply cursor-crosshair;
}

.mapboxgl-popup-close-button {
	display: none;
}

.marker-link:focus-visible {
	@apply outline-none;
}

img.marker {
	width: 30px;
	height: 40px;
	margin-top: -20px;
	cursor: pointer;
}

.hide-default .default-marker {
	opacity: 0;
}

.mapboxgl-ctrl-compass {
	display: none !important;
}

/*Animations*/
@keyframes zoom {
	0% { transform: scale(0.5); opacity: 0; }
	80% { transform: scale(1.02); opacity: 1; }
	100% { transform: scale(1); }
}

.zoom-in {
	transform-origin: center;
	animation-name: zoom;
	animation-duration: 300ms;
	animation-timing-function: ease;
}