@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-pt-24;
	}
	body {
		font-size: 14px;
		color: #4f4f4f;
		@apply leading-6;
		@apply antialiased;
		@apply pt-0;
		@apply md:pt-32;
	}

	a {
		color: #4a84b2;
	}

	input.form-input, textarea.form-input {
		@apply w-full;
		@apply mt-1;
		@apply block;
		@apply rounded-md;
		@apply border-gray-200;
		@apply shadow-sm;
		@apply focus:border-indigo-300;
		@apply focus:ring;
		@apply focus:ring-indigo-200;
		@apply focus:ring-opacity-50;
		@apply text-sm;
	}

	.form-input.input-error {
		border-color: #e90000ad;
	}
}

.formatted p {
	@apply mb-4;
}

.formatted cite {
	font-size: 0.75em;
	@apply not-italic;
	@apply -mt-4;
	@apply block;
}

.formatted br + cite {
	@apply mt-0;
}

svg.icon {
	width: 1em;
	height: 1em;		
	@apply fill-current;
	@apply inline;
}

.header-gradient {
	background-image: linear-gradient(90deg,var(--color) 69%, transparent 100%);
}

.breadcrumb-gradient {
	background-image: linear-gradient(90deg, rgba(255,255,255,0.1) 69%, transparent 100%);
}

.tox-notification {
	display: none !important; /* hide "This domain is not registered with Tiny Cloud" notice */
}

.tox-statusbar {
	display: none !important;
}

.tox-tinymce {
	@apply border-gray-200 !important;
	@apply shadow-sm !important;
	border-width: 1px !important;
}

.uppy-DragDrop-container {
	@apply border-gray-300/90 !important;
}

/*react-image-gallery overides*/
.image-gallery.fullscreen-modal {
	@apply z-10 !important;
}

.image-gallery-thumbnail {
	width: 70px !important;
	@apply border-0 !important;
	@apply opacity-50;
	@apply transition-opacity;
}

.image-gallery-thumbnail.active {
	@apply opacity-100;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
	width: 70px !important;
	height: 55px;
	@apply object-cover;
}

.image-gallery.fullscreen-modal .image-gallery-thumbnails-wrapper {
	max-width: 500px;
	@apply mx-auto;
}

.image-gallery-icon {
	@apply opacity-50;
	@apply cursor-pointer;
}

.image-gallery-icon:hover {
	@apply text-white !important;
	@apply opacity-100;
}

.image-gallery:not(.fullscreen-modal) .image-gallery-svg {
	width: 30px;
	height: 60px;
}

.image-gallery:not(.fullscreen-modal) .image-gallery-image {
	@apply h-[200px];
	@apply sm:h-[400px];
}

.image-gallery-slide, .image-gallery-image {
	@apply outline-none;
}